body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'figtree', sans-serif;
}

.container {
    max-width: 370px;
    margin: 0 auto;
    padding: 10px; 
    background-color: white;  
    border: hsl(0, 0%, 7%) 2px solid;
    border-radius: 20px;
    box-shadow: 5px 5px 0px hsl(0, 0%, 7%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}